section.contacts
	div.container
		div.row
			div.col-12
				h2.title Контакты
		div.row
			div.col-12.col-md-6.col-xl-4
				div.contact
					img(src="img/icons/contacts/whatsapp.svg", alt="whatsapp")
					h3 whatsapp
					p.text +7(963)-607-11-35
			div.col-12.col-md-6.col-xl-4
				div.contact
					img(src="img/icons/contacts/email.svg", alt="email")
					h3 email
					p.text mamedov094@bk.ru
			div.col-12.col-md-6.col-xl-4
				div.contact
					img(src="img/icons/contacts/skype.svg", alt="skype")
					h3 skype
					p.text live:mamedov094
			div.col-12.col-md-6.col-xl-4
				div.contact
					img(src="img/icons/contacts/telegram.svg", alt="telegram")
					h3 телеграмм
					p.text @EMamedov07
			div.col-12.col-md-6.col-xl-4
				div.contact
					img(src="img/icons/contacts/vk.svg", alt="vk")
					h3 вконтакте
					a.text(href="https://vk.com/a3881593", target="_blank") https://vk.com/a3881593