section.portfolio
	div.container
		div.row
			div.col-12
				h2.title Примеры работ
		div.row
			div.col-sm-12.col-md-6.col-xl-4
				a(href="https://emamedov94.github.io/Med").portfolio-item
					img.img-fluid(src="img/portfolio/med.jpg", alt="med")
			div.col-sm-12.col-md-6.col-xl-4
				a(href="https://emamedov94.github.io/Ave").portfolio-item
					img.img-fluid(src="img/portfolio/ave.jpg", alt="ave")
			div.col-sm-12.col-md-6.col-xl-4
				a(href="https://emamedov94.github.io/Freelancer").portfolio-item
					img.img-fluid(src="img/portfolio/freelancer.jpg", alt="freelancer")
			div.col-sm-12.col-md-6.col-xl-4
				a(href="https://emamedov94.github.io/Voila").portfolio-item
					img.img-fluid(src="img/portfolio/voila.jpg", alt="voila")
			div.col-sm-12.col-md-6.col-xl-4
				a(href="https://emamedov94.github.io/FunWeather").portfolio-item
					img.img-fluid(src="img/portfolio/weather.jpg", alt="FunWeather")
			div.col-sm-12.col-md-6.col-xl-4
				a(href="https://emamedov94.github.io/Portland").portfolio-item
					img.img-fluid(src="img/portfolio/portland.jpg", alt="portland")