header.header
	div.menu
		button.toggler-btn
			span
		span.shop Магазин
	div.switcher
		span.switcher__text Reccurement payment
		div.switcher__btn
			input.custom-switcher#switcher(type="checkbox")
			label.custom-switcher-label(for="switcher")