section.education-section.pd-b50
	div.education-section__title
		div.title-box
			div.title-box__icon
				include ../icons/education/education-icon
			div.title-box__title
				h3 Образование

	div.education-section__items
		div.education
			div.education__name
				p.title ГОУ СПО ПК №2
				span.date (Сентябрь 2010 - Июнь 2014)
			div.education__proff
				p Тех. обслуживание и ремонт автотранспорта