section.experience-section.pd-b50
	div.experience-section__title
		div.title-box
			div.title-box__icon
				include ../icons/experience/experience-icon
			div.title-box__title
				h3 Опыт работы

	div.experience-section__items

		div.experience-item
			div.experience-item__title
				h4.title Decathlon
				p.date (Май 2014 - Февраль 2015)
			div.experience-item__position
				h4.title Продавец консультант
				p.text #[strong Обязанности:] работа с клиентами без % от продаж, заказ, списание, прием и размещение товара в отделе.
				p.text #[strong Причина увольнения:] окончание срочного контракта.
			div.experience-item__skills
				h4.title Приобретенные навыки
				div.experience-skills
					div.experience-skills__skill
						include ../icons/experience/speak-icon

		div.experience-item
			div.experience-item__title
				h4.title Lady&Gentleman
				p.date (Май 2015 - Апрель 2016)
			div.experience-item__position
				h4.title Продавец консультант
				p.text #[strong Обязанности:] работа с клиентами с планом и % от продаж, прием и размещение товара в отделе, инвентаризация.
				p.text #[strong Причина увольнения:] отсутствие карьерного и личного роста, деградация.
			div.experience-item__skills
				h4.title Приобретенные навыки
				div.experience-skills
					div.experience-skills__skill
						include ../icons/experience/mad-icon
					div.experience-skills__skill
						include ../icons/experience/sell-icon
					div.experience-skills__skill
						include ../icons/experience/objective-icon

		div.experience-item
			div.experience-item__title
				h4.title Colin`s
				p.date (Февраль 2017 - Июнь 2017)
			div.experience-item__position
				h4.title Продавец консультант
				p.text #[strong Обязанности:] работа с клиентами с планом и % от продаж, прием и размещение товара в отделе, работа за кассой (1С).
				p.text #[strong Причина увольнения:] по состоянию здоровья.
			div.experience-item__skills
				h4.title Приобретенные навыки
				div.experience-skills
					div.experience-skills__skill
						include ../icons/experience/team-icon