section.extra-skills-section.pd-b50
	div.extra-skills-section__title
		div.title-box
			div.title-box__icon
				include ../icons/extra-skills/extra-skill-icon
			div.title-box__title
				h3 Дополнительные навыки

	div.extra-skills-section__items
		div.extra-skills
			div.column
				div.extra-skills__item
					div.extra-skills__img
						include ../icons/extra-skills/jquery-icon
					div.extra-skills__text
						p.text Базовые знания
				div.extra-skills__item
					div.extra-skills__img
						include ../icons/extra-skills/bootstrap-icon
					div.extra-skills__text
						p.text Bootstrap - базовые знания
				div.extra-skills__item
					div.extra-skills__img
						include ../icons/extra-skills/code-icon
					div.extra-skills__text
						p.text Умение разобираться в чужом и своем коде
				div.extra-skills__item
					div.extra-skills__img
						include ../icons/extra-skills/less-icon
					div.extra-skills__text
						p.text Создание переменных, мат. операции
			div.column
				div.extra-skills__item
					div.extra-skills__img
						include ../icons/extra-skills/blind-icon
					div.extra-skills__text
						p.text Слепая печать - rus ≈ 250 зн/м. eng ≈ 150 зн/м.
				div.extra-skills__item
					div.extra-skills__img
						include ../icons/extra-skills/gulp-icon
					div.extra-skills__text
						p.text Cоздание локального сервера, сборка проекта
				div.extra-skills__item
					div.extra-skills__img
						include ../icons/extra-skills/english-icon
					div.extra-skills__text
						p.text English - уровень Elementary
				div.extra-skills__item
					div.extra-skills__img
						include ../icons/extra-skills/git-icon
					div.extra-skills__text
						p.text Git - начальные знания