section.portfolio-section.pd-b50
	div.portfolio-section__title
		div.title-box
			div.title-box__icon
				include ../icons/portfolio/portfolio-icon
			div.title-box__title
				h3 Портфолио

	div.portfolio-section__items
		div.col
			div.portfolio-item
				a(href="https://mamedov94.github.io/Med")
					img(src="img/portfolio/Med.jpg", alt="Med")
					div.portfolio-item__text
						span Medicine

		div.col
			div.portfolio-item
				a(href="https://mamedov94.github.io/Billing")
					img(src="img/portfolio/billing.jpg", alt="Billing")
					div.portfolio-item__text
						span Billing
		div.col
			div.portfolio-item
				a(href="https://mamedov94.github.io/Ave")
					img(src="img/portfolio/ave.jpg", alt="Avenue")
					div.portfolio-item__text
						span Avenue
		div.col
			div.portfolio-item
				a(href="https://mamedov94.github.io/FunWeather")
					img(src="img/portfolio/fun-weather.jpg", alt="FunWeather")
					div.portfolio-item__text
						span FunWeather
		div.col
			div.portfolio-item
				a(href="https://mamedov94.github.io/Portland")
					img(src="img/portfolio/portland.jpg", alt="Portland")
					div.portfolio-item__text
						span Portland
		div.col
			div.portfolio-item
				a(href="https://mamedov94.github.io/Voila")
					img(src="img/portfolio/voila.jpg", alt="Voila")
					div.portfolio-item__text
						span Voila