section.skills-section.pd-b50
	div.skills-section__title
		div.title-box
			div.title-box__icon
				include ../icons/skills/skill-icon
			div.title-box__title
				h3 Навыки

	div.skills-section__skills
		div.skills-list
			h4.title Профессиональные навыки

			div.skills-list__item
				span.skill-name HTML
				div.progress
					span.circle.active
					span.circle.active
					span.circle.active
					span.circle.active
					span.circle.active
					span.circle.active
					span.circle
			div.skills-list__item
				span.skill-name CSS
				div.progress
					span.circle.active
					span.circle.active
					span.circle.active
					span.circle.active
					span.circle.active
					span.circle.active
					span.circle
			div.skills-list__item
				span.skill-name JavaScript
				div.progress
					span.circle.active
					span.circle.active
					span.circle.active
					span.circle.active
					span.circle
					span.circle
					span.circle
			div.skills-list__item
				span.skill-name Photoshop
				div.progress
					span.circle.active
					span.circle.active
					span.circle.active
					span.circle
					span.circle
					span.circle
					span.circle
		div.skills-list
			h4.title Личные качества
			div.skills-list__item
				span.skill-name Креативность
				div.progress
					span.circle.active
					span.circle.active
					span.circle.active
					span.circle.active
					span.circle.active
					span.circle.active
					span.circle
			div.skills-list__item
				span.skill-name Внимательность
				div.progress
					span.circle.active
					span.circle.active
					span.circle.active
					span.circle.active
					span.circle.active
					span.circle.active
					span.circle
			div.skills-list__item
				span.skill-name Обучаемость
				div.progress
					span.circle.active
					span.circle.active
					span.circle.active
					span.circle.active
					span.circle.active
					span.circle.active
					span.circle.active
			div.skills-list__item
				span.skill-name Логика
				div.progress
					span.circle.active
					span.circle.active
					span.circle.active
					span.circle.active
					span.circle.active
					span.circle.active
					span.circle