@-webkit-keyframes hellobar {
  from {
    background-color: black;
  }
  to {
    background-color: red;
  }
}
@keyframes hellobar {
  from {
    background-color: black;
  }
  to {
    background-color: red;
  }
}
