@font-face {
  font-family: "Alegreya";
  src: url("../fonts/Alegreya/Alegreya-Italic.ttf");
  font-style: italic;
}
@font-face {
  font-family: "Poppins";
  src: url('../fonts/Poppins/Poppins-Regular.ttf');
  font-weight: 400;
}
@font-face {
  font-family: "Poppins";
  src: url('../fonts/Poppins/Poppins-Medium.ttf');
  font-weight: 500;
}
@font-face {
  font-family: "Poppins";
  src: url('../fonts/Poppins/Poppins-SemiBold.ttf');
  font-weight: 600;
}
@font-face {
  font-family: "Roboto";
  src: url('../fonts/Roboto/Roboto-Medium.ttf');
  font-weight: 500;
}
@font-face {
  font-family: "Roboto";
  src: url('../fonts/Roboto/Roboto-Bold.ttf');
  font-weight: 700;
}
@font-face {
  font-family: "Georgia";
  src: url('../fonts/Georgia/georgia.ttf');
}
