<!DOCTYPE html>
html(lang="ru-RU")
	head
		meta(charset="UTF-8")
		//- Mobile
		meta(name="viewport" content="width=device-width, initial-scale=1")
		//- Title
		title Портфолио
		//- Icon
		link(rel="shortcut icon" href="img/icons/briefcase.png" type="image/png")
		//- Style CSS
		link(rel="stylesheet" href="css/bootstrap.min.css")
		link(rel="stylesheet" href="css/main.css")
	body
		include ../_partials/sections/portfolio
		include ../_partials/sections/contacts
		
		script(src="js/libs.min.js")
		script(src="js/main.js")