<!DOCTYPE html>
html(lang="ru-RU")
	head
		meta(charset="UTF-8")
		//- Mobile
		meta(name="viewport" content="width=device-width, initial-scale=1")
		//- Title
		title Резюме
		//- Icon
		link(rel="shortcut icon" href="img/icons/site-icon.png" type="image/png")
		//- Style CSS
		link(rel="stylesheet" href="css/main.css")
	body
		div.app
			div.wrapper
				div.page
					block content