aside.aside
	div.news-block.block
		div.aside__title-box.title-box
			h2.aside-title PROSTATE NEWS
			a.view-all(href="#") View All

		div.aside__content.box
			div.aside__item
				div.aside__img
					img(src="img/aside/news/news-1.jpg", alt="news-1")
				div.aside__text
					a(href="#").aside__item-title.post-title The main symptoms#[br]of arthritis
					div.aside__descr
						span.news-date.date December 22, 2016
						a(href="#").news-comments.comments
							img(src="img/icons/comments.svg")
							span.comm-quant 100
			div.aside__item
				div.aside__img
					img(src="img/aside/news/news-2.jpg", alt="news-2")
				div.aside__text
					a(href="#").aside__item-title.post-title How to stay active whilst#[br]suffering from joints pains
					div.aside__descr
						span.news-date.date December 22, 2016
						a(href="#").news-comments.comments
							img(src="img/icons/comments.svg")
							span.comm-quant 100
			div.aside__item
				div.aside__img
					img(src="img/aside/news/news-3.jpg", alt="news-3")
				div.aside__text
					a(href="#").aside__item-title.post-title The links between Obesity#[br]and Arthritis
					div.aside__descr
						span.news-date.date December 22, 2016
						a(href="#").news-comments.comments
							img(src="img/icons/comments.svg")
							span.comm-quant 100
			div.aside__item
				div.aside__img
					img(src="img/aside/news/news-4.jpg", alt="news-4")
				div.aside__text
					a(href="#").aside__item-title.post-title The symptoms of#[br]Osteoarthritis and Rheumaoid
					div.aside__descr
						span.news-date.date December 22, 2016
						a(href="#").news-comments.comments
							img(src="img/icons/comments.svg")
							span.comm-quant 100
			div.aside__item
				div.aside__img
					img(src="img/aside/news/news-5.jpg", alt="news-5")
				div.aside__text
					a(href="#").aside__item-title.post-title How to deal with#[br]Rheumatoid Arthritis
					div.aside__descr
						span.news-date.date December 22, 2016
						a(href="#").news-comments.comments
							img(src="img/icons/comments.svg")
							span.comm-quant 100

	div.reviews-block.block
		div.aside__title-box.title-box
			h2.aside-title TOP REVIEWS

		div.aside__content.box
			div.aside__item
				div.aside__img
					img(src="img/aside/rewiews/review-1.jpg", alt="review-1")
				div.aside__text
					a(href="#").aside__item-title How to deal with#[br]Rheumatoid Arthritis
					div.aside__descr
						span.stars
							span.star
								img(src="img/icons/star.svg")
							span.star
								img(src="img/icons/star.svg")
							span.star
								img(src="img/icons/star.svg")
							span.star
								img(src="img/icons/star.svg")
							span.star
								img(src="img/icons/star.svg")
			div.aside__item
				div.aside__img
					img(src="img/aside/rewiews/review-2.jpg", alt="review-2")
				div.aside__text
					a(href="#").aside__item-title How to deal with#[br]Rheumatoid Arthritis
					div.aside__descr
						span.stars
							span.star
								img(src="img/icons/star.svg")
							span.star
								img(src="img/icons/star.svg")
							span.star
								img(src="img/icons/star.svg")
							span.star
								img(src="img/icons/star.svg")
							span.star
								img(src="img/icons/star.svg")
			div.aside__item
				div.aside__img
					img(src="img/aside/rewiews/review-3.jpg", alt="review-3")
				div.aside__text
					a(href="#").aside__item-title How to deal with#[br]Rheumatoid Arthritis
					div.aside__descr
						span.stars
							span.star
								img(src="img/icons/star.svg")
							span.star
								img(src="img/icons/star.svg")
							span.star
								img(src="img/icons/star.svg")
							span.star
								img(src="img/icons/star.svg")
							span.star
								img(src="img/icons/star.svg")
			div.aside__item
				div.aside__img
					img(src="img/aside/rewiews/review-4.jpg", alt="review-4")
				div.aside__text
					a(href="#").aside__item-title How to deal with#[br]Rheumatoid Arthritis
					div.aside__descr
						span.stars
							span.star
								img(src="img/icons/star.svg")
							span.star
								img(src="img/icons/star.svg")
							span.star
								img(src="img/icons/star.svg")
							span.star
								img(src="img/icons/star.svg")
							span.star
								img(src="img/icons/star.svg")

	div.contributor-block
		div.aside__title-box.title-box
			h2.aside-title OUR CONTRIBUTORS

		div.aside__content.box
			div.aside__item
				div.aside__img
					img(src="img/aside/contributors/contributor-1.jpg", alt="contributor-1")
				div.aside__text
					a(href="#").aside__item-title Carole Priester
					div.aside__descr
						a(href="#")
							img(src="../img/icons/doc.svg")
							span.doc-quant 99
			div.aside__item
				div.aside__img
					img(src="img/aside/contributors/contributor-2.jpg", alt="contributor-2")
				div.aside__text
					a(href="#").aside__item-title Georgia Gunnell
					div.aside__descr
						a(href="#")
							img(src="../img/icons/doc.svg")
							span.doc-quant 87
			div.aside__item
				div.aside__img
					img(src="img/aside/contributors/contributor-3.jpg", alt="contributor-3")
				div.aside__text
					a(href="#").aside__item-title Roberta Curtis
					div.aside__descr
						a(href="#")
							img(src="../img/icons/doc.svg")
							span.doc-quant 78
						