footer.footer
	div.footer__top
		div.container
			p * Results will differ for each individual, depending on existing health factors, lifestyle and physical condition. The information contained on this site is for informational purposes only and is not a substitute for medical advice provided by your doctor or physician. The information, we provide should not be used for diagnosis, treatment or prevention of any disease. Testimonials and results contained are reflective of the typical examples consumers experienced and may not be an implication of future results for you. These statements have not been evaluated by the Food and Drug Administration.

	div.footer__middle
		div.container
			nav.footer__navbar
				ul
					li.footer__navbar-item
						a(href="#")
							i.fab.fa-facebook-f
							| FACEBOOK
					li.footer__navbar-item
						a(href="#")
							i.fab.fa-twitter
							| TWITTER
					li.footer__navbar-item
						a(href="#")
							i.fab.fa-google-plus-g
							| GOOGLE +
					li.footer__navbar-item
						a(href="#")
							i.fab.fa-linkedin-in
							| LINKEDIN
					li.footer__navbar-item
						a(href="#")
							i.fab.fa-instagram
							| INSTAGRAM
					li.footer__navbar-item
						a(href="#")
							i.fab.fa-vimeo-v
							| VIMEO
					li.footer__navbar-item
						a(href="#")
							i.fab.fa-youtube
							| YOUTUBE

			div.footer__content
				div.feedback-block
					div.feedback-block__logo
						img(src="img/icons/logo/logo-footer.png", alt="logo-footer")
					div.feedback-block__text
						p JOINTS REPORT is your lorem ipsum sistem dolore sit amet, nos set dolore compos bc orem ipsum sistem dolore sit amet, nos set dolore compos bcorem ipsum sistem dolore sit amet, nos set dolore
					div.feedback-block__email
						input(type="email" placeholder="Your email" autocomplete)

				div.about-us-block
					div.about-us-block__title
						h3.footer-title About us
					ul.about-us-block__menu
						li
							a(href="#") Home
						li
							a(href="#") Important Articles
						li
							a(href="#") Joints Report Review
						li
							a(href="#") Privacy Policy
						li
							a(href="#") Terms & Conditions

				div.recent-posts-block
					div.recent-posts-block__title
						h3.footer-title Recent Posts
					div.recent-posts-block__content
						div.recent-post
							div.recent-post__img
								img(src="img/footer/recent-posts/post-1.jpg", alt="post-1")
							div.recent-post__text
								a.recent-post__title.post-title(href="#") The main symptoms#[br]of arthritis
								div.recent-post__descr
									span.post-date.date December 22, 2016
									a(href="#").news-comments
										img(src="img/icons/comments.svg")
										span.comm-quant.comments 100
						div.recent-post
							div.recent-post__img
								img(src="img/footer/recent-posts/post-2.jpg", alt="post-2")
							div.recent-post__text
								a.recent-post__title.post-title(href="#") How to stay active whilst#[br]of arthritis
								div.recent-post__descr
									span.post-date.date December 22, 2016
									a(href="#").news-comments
										img(src="img/icons/comments.svg")
										span.comm-quant.comments 100

	div.footer__bottom
		div.container
			div.footer__bottom-tabs
				div.copyright
					span Copyright@2018.
				ul.footer__bottom-menu
					li
						a(href="#") Disclaimer
					li
						a(href="#") Privacy
					li
						a(href="#") Advertisement
					li
						a(href="#") Contact us