header.header
	div.container
		div.header__top
			div.logo
				a(href="#")
					img(src="img/icons/logo/logo.png", alt="logo")

			div.search
				input(type="search" placeholder="Search For" autocomplete)

	nav.navbar.box
		div.container
			ul.main-menu
				li.main-menu__item
					img(src="img/icons/Home.svg", alt="Home")
					a(href="#") HOME
				li.main-menu__item
					a(href="#") TOP PRODUCTS
				li.main-menu__item
					a(href="#") PRODUCT REVIEWS
				li.main-menu__item
					a(href="#") IMPORTANT ARTICLES
				li.main-menu__item
					a(href="#") JOINTS REPORT REVIEW PROCESS
				li.main-menu__item
					a(href="#") CONTACT US