section.interest-section
	div.interest-section__title.title-box
		h2 YOU MAY BE INTERESTED IN ...
	div.interest-section__content
		div.interest-card
			div.interest-card__img
				img(src="img/interest-content/interes-card-1.jpg", alt="interes-card-1")
			div.interest-card__text
				h3 Germany - Italy talking points
				p Swimming is a great form of exercise. It does not only help you relax and take away stress, it is also fantastic for relieving
		div.interest-card
			div.interest-card__img
				img(src="img/interest-content/interes-card-2.jpg", alt="interes-card-2")
			div.interest-card__text
				h3 Germany - Italy talking points
				p Swimming is a great form of exercise. It does not only help you relax and take away stress, it is also fantastic for relieving
		div.interest-card
			div.interest-card__img
				img(src="img/interest-content/interes-card-3.jpg", alt="interes-card-3")
			div.interest-card__text
				h3 Germany - Italy talking points
				p Swimming is a great form of exercise. It does not only help you relax and take away stress, it is also fantastic for relieving
		div.interest-card
			div.interest-card__img
				img(src="img/interest-content/interes-card-4.jpg", alt="interes-card-4")
			div.interest-card__text
				h3 Germany - Italy talking points
				p Swimming is a great form of exercise. It does not only help you relax and take away stress, it is also fantastic for relieving