article.article.box
	div.article__title
		h1.title Consult a doctor over any joint pains
		span.subtitle By Georgia Gunnell

	div.article__content
		div.article__img
			img(src="img/article/img-1.png", alt="doc")
	
		p.text.mt-40 Arthritis is a common disease that affects thousands of people all over the world, there are over one hundred different types of arthritis, and they all work in different ways. It can start as a simple joint pain but often develops into a more serious continuous pain as it stiffens the joint.
		p.text.mb-55 The most common symptoms of arthritis are often pains in the joint area, redness of the skin, inflammation, and a warm sensation in the area. Many more symptoms exist and even the slightest of joint pains should be mentioned to your doctor for diagnosis. In its early stages, arthritis can be hard to diagnose as it only causes slight damage to the joints. As it develops, the severity of the damage can increase leading to more problems with the joint which will require more advance forms of treatment.

		h2.title.mb-40 Consulting a doctor
		div.article__img
			img(src="img/article/img-2.png", alt="doc")
		
		p.text.mb-55 Visiting a doctor will help to understand more about arthritis, or whether your joint pain is even related to arthritis. The doctor will ask the patient to describe their joint discomfort and then do a few physical tests that may involve stretching or moving parts of the patient’s body to determine how severe the pains are.
		p.text The doctor can’t make a full diagnosis without further information, so will typically ask for the medical history of the patient and patients family as some types of arthritis can be passed down genetically, increasing the chance of the patient having the disease. In order to confirm that arthritis is the cause of joint pain, the patient will do a diagnostic procedure. This can be done with the following methods:

		div.article__list
			ul.list
				li #[span -] X-Ray
				li #[span -] Stress tests
				li #[span -] Blood tests
				li #[span -] Joint aspiration
				li #[span -] Magnetic resonance imaging
				li #[span -] Urine tests
			div.article__img
				img(src="img/article/img-3.png", alt="doc")

		p.text.mb-55 After confirming the joint pains are symptoms of arthritis, the doctor may seek the advice of a physical therapist to help treat the arthritis with physical actives such as exercise and stretches. If the pains are too severe, medicines will be prescribed to help ease the pain and fix what damage has already been dealt.  In more severe cases when left too long surgery may be needed. There are two common types of arthritis that can go undetected in their early stages; they are called osteoarthritis and rheumatoid arthritis doctors struggle to identify them as they work slowly causing damage to the joint whilst not disturbing the patient. The symptoms of arthritis only appear in the later stages when it is too late to prevent the disease.
		p.text.mb-55 Arthritis can progress quickly if not properly treated, making it important to consult a doctor to confirm the cause of the joint pains. Thousands of people are currently suffering from arthritis but have not gone to a doctor to have their joint pains diagnosed; sadly in many of these cases the condition worsens into the later stages causing problems for doctors to properly treat the

		p.check-text Do you want to find an effective Joints treatment? Check out our top rated Joints products