div.top-menu
	div.top-menu__inner
		div.top-menu__date
			span.date 20:00 - august, 2018

		div.top-menu__login
			a.subscribe(href="#") Subscribe
			a.sign-in(href="#") Sign In

		div.top-menu__socials
			ul
				li
					a(href="#")
						i.fab.fa-facebook-f
				li
					a(href="#")
						i.fab.fa-twitter
				li
					a(href="#")
						i.fab.fa-google-plus-g
				li
					a(href="#")
						i.fab.fa-linkedin-in
				li
					a(href="#")
						i.fab.fa-instagram
				li
					a(href="#")
						i.fab.fa-vimeo-v
				li
					a(href="#")
						i.fab.fa-youtube