@font-face {
  font-family: "Roboto";
  src: url('../fonts/Roboto/Roboto-Regular.ttf');
  font-weight: 400;
}
@font-face {
  font-family: "Roboto";
  src: url('../fonts/Roboto/Roboto-Bold.ttf');
  font-weight: 700;
}
@font-face {
  font-family: "Work Sans";
  src: url('../fonts/Work_Sans/WorkSans-Regular.ttf');
  font-weight: 400;
}
@font-face {
  font-family: "Work Sans";
  src: url('../fonts/Work_Sans/WorkSans-Medium.ttf');
  font-weight: 500;
}
@font-face {
  font-family: "Work Sans";
  src: url('../fonts/Work_Sans/WorkSans-Bold.ttf');
  font-weight: 700;
}
